:root{
  --PrimaryColor: hsl(199,100%,33%);
  --SecondaryColor: hsl(187,85%,43%);
  --gradientColor: linear-gradient(to right, hsl(187,85%,43%),hsl(199,100%,33%));
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(201,33%,16%);
  --textColor: hsl(240,4%,36%);
  --whiteColorDeam: hsl(0,0%,93%);
  --grayText: rgb(190,190,190);
  --inputColor: rgb(239,239,239);
  --bodyColor: rgb(240,240,246);
  --cardBG: rgb(225,225,235);
  --cardHover:rgb(255, 255,255)
}

.detailsCard{
  display: flex;
  padding-top: 80px;
  margin-bottom: 50px;
  .imageDiv{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 2s ease;
      border-radius: 20px;

    } 

    &:hover{
      img{
        transform: scale(1.1);
      }
    }
}
.detailsDescription{
  margin-top: 50px;
  h2{
    margin-bottom: 10px;
  }
  .description{
    margin-bottom: 10px;
  }
  .price{
    padding-left: 5px;
    span{
      font-size: large;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .btn{
    margin-top:2rem;
    color: var(--whiteColor);
    font-weight: 600;
    justify-content: space-between;
    gap: .5rem;

    .icon{
      align-self: center;
      font-size: 18px;
    }
  }
  }
}

@media screen and (max-width:769px){
  .detailsCard{
    flex-direction: column;

    .imageDiv{
      margin-left: 0px;
      margin-right: 0px;
  
  }

    .detailsDescription{
      margin-left: 5px;
    }
  }


}